*  { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {  

    background-image:linear-gradient(120deg,#5addaf,#ddc565 );
    color:rgb(245, 245, 245);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    padding-top: 5%;
    margin: 2%;

}

header,form { 
min-height: 20vh;
display: flex;
justify-content: center;
align-items: center;

 }

 form input, form button { 
    padding: 0.1em;
    font-size: 2rem;
    border:none;
    background: white;

 }

 form button { 
     color:#5addaf;
     background:rgb(58, 127, 184);
     cursor: pointer;
     transition: all 0.3s ease;    
 }

 form button:hover { 
background: #c29d09;
color: #5addaf;     
 }

.toDoContainer { min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    flex-direction: column;
    line-height: 2;
   font-size: 150%;
   border-radius: 5px;
   border-style: double;
   box-shadow: 10px 5px 5px  indianred;
border-width: 10px;

    

}


h1   { 
     font-family: 'Righteous';
font-size: 50px;
 


     
}

